<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movinga web crawler</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid">
      <div class="sidebar-nav">
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <img alt="Movinga" height="40px" src="img/movinga-small-logo.svg">
            </a>
          </div>

          <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="#wfr" data-toggle="tab">World Freight Rates</a>
              </li>
              <li>
                <a href="#fedemac" data-toggle="tab">FEDEMAC</a>
              </li>
              <li>
                <a href="#iam" data-toggle="tab">IAM</a>
              </li>
              <li>
                <a href="#ngrs" data-toggle="tab">NGRS</a>
              </li>
              <li>
                <a href="#zoopla" data-toggle="tab">Zoopla</a>
              </li>
              <li>
                <a href="#immobiliare" data-toggle="tab">Immobiliare</a>
              </li>
              <li>
                <a href="#seloger" data-toggle="tab">Seloger</a>
              </li>
              <li>
                <a href="#baggagenl" data-toggle="tab">Baggage.nl</a>
              </li>
              <li>
                <a href="#adac" data-toggle="tab">ADAC</a>
              </li>
              <li>
                <a href="#hamsud" data-toggle="tab">Hamburg Süd</a>
              </li>
              <li>
                <a href="#pl" data-toggle="tab">Primelocation</a>
              </li>
              <li>
                <a href="#bhub" data-toggle="tab">Baggagehub</a>
              </li>
              <li>
                <a href="#paruvendu" data-toggle="tab">Paruvendu</a>
              </li>
              <li>
                <hr/>
              </li>
              <li>
                <a href="/status">
                  <span class="glyphicon glyphicon-cog"></span>
                  Control panel
                </a>
              </li>
              <li>
                <a href='/auth/logout'>
                  <span class="glyphicon glyphicon-user"></span>
                  {{user.username}} | Log Out
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="content">
        {{#if message}}
          <div class="alert alert-info alert-dismissible" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {{/if}}
        <div class="tab-content">
          <div class="tab-pane active" id="wfr">
            <h2>worldfreightrates.com</h2>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Choose your output file contents:</h3>
              </div>
              <div class="panel-body">
                <form method="post" action="/wfr/report.csv" class="form-horizontal">
                  <div class="form-group">
                    <label for="sessionInputGroup" class="col-xs-4 control-label">Crawl session</label>
                    <div class="col-xs-8" id="sessionInputGroup">
                      {{#each wfr.sessions}}
                        <input type="radio" name="sessionId" value="{{this.id}}" {{#if this.checked}}checked{{/if}}> {{this.created_at}} <br/>
                      {{/each}}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="containerSizeInputGroup" class="col-xs-4 control-label">Container size</label>
                    <div class="col-xs-8" id="containerSizeInputGroup">
                      <label class="checkbox-inline">
                        <input type="checkbox" name="size20" value="true" checked/> 20FT
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" name="size40" value="true"/> 40FT
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" name="size45" value="true"/> 45FT
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="InsuranceInputGroup" class="col-xs-4 control-label">Insurance</label>
                    <div class="col-xs-8" id="containerSizeInputGroup">
                      <label class="checkbox-inline">
                        <input type="checkbox" name="withInsurance" value="true" checked/> With insurance
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" name="withoutInsurance" value="true"/> Without insurance
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-offset-4 col-xs-8">
                      <button type="submit" class="btn btn-success">Generate file</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="fedemac">
            <h2>FEDEMAC European Movers</h2>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Choose your output file contents:</h3>
              </div>
              <div class="panel-body">
                <form method="post" action="/fedemac/report.csv" class="form-horizontal">
                  <div class="form-group">
                    <label for="sessionInputGroup" class="col-xs-4 control-label">Crawl session</label>
                    <div class="col-xs-8" id="sessionInputGroup">
                      {{#each fedemac.sessions}}
                        <input type="radio" name="sessionId" value="{{this.id}}" {{#if this.checked}}checked{{/if}}> {{this.created_at}} <br/>
                      {{/each}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-offset-4 col-xs-8">
                      <button type="submit" class="btn btn-success">Generate file</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="iam">
            <h2>International Association of Movers</h2>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Choose your output file contents:</h3>
              </div>
              <div class="panel-body">
                <form method="post" action="/iam/report.csv" class="form-horizontal">
                  <div class="form-group">
                    <label for="sessionInputGroup" class="col-xs-4 control-label">Crawl session</label>
                    <div class="col-xs-8" id="sessionInputGroup">
                      {{#each iam.sessions}}
                        <input type="radio" name="sessionId" value="{{this.id}}" {{#if this.checked}}checked{{/if}}> {{this.created_at}} <br/>
                      {{/each}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-offset-4 col-xs-8">
                      <button type="submit" class="btn btn-success">Generate file</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="ngrs">
            <h2>The national guild of removers and storers (NGRS)</h2>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Choose your output file contents:</h3>
              </div>
              <div class="panel-body">
                <form method="post" action="/ngrs/report.csv" class="form-horizontal">
                  <div class="form-group">
                    <label for="sessionInputGroup" class="col-xs-4 control-label">Crawl session</label>
                    <div class="col-xs-8" id="sessionInputGroup">
                      {{#each ngrs.sessions}}
                        <input type="radio" name="sessionId" value="{{this.id}}" {{#if this.checked}}checked{{/if}}> {{this.created_at}} <br/>
                      {{/each}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-offset-4 col-xs-8">
                      <button type="submit" class="btn btn-success">Generate file</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="zoopla">
            <h2>Zoopla Area stats</h2>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Choose your output file contents:</h3>
              </div>
              <div class="panel-body">
                <form name="zooplaForm" method="post" class="form-horizontal" onsubmit="return submitForm();">
                  <div class="form-group">
                    <label for="sessionInputGroup" class="col-xs-4 control-label">Crawl session</label>
                    <div class="col-xs-8" id="sessionInputGroup">
                      {{#each zoopla.sessions}}
                        <input type="radio" name="sessionId" value="{{this.id}}" {{#if this.checked}}checked{{/if}}> {{this.created_at}} <br/>
                      {{/each}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-offset-4 col-xs-8">
                      <button type="submit" class="btn btn-success" value="areaStats" onclick="document.pressed = this.value">Generate area stats file</button>
                      <button type="submit" class="btn btn-default" value="sampleSize" onclick="document.pressed = this.value">Generate sample size file</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="immobiliare">
            <h2>Immobiliare.it area stats</h2>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Choose your output file contents:</h3>
              </div>
              <div class="panel-body">
                <form method="post" action="/immobiliare/report.csv" class="form-horizontal">
                  <div class="form-group">
                    <label for="sessionInputGroup" class="col-xs-4 control-label">Crawl session</label>
                    <div class="col-xs-8" id="sessionInputGroup">
                      {{#each immobiliare.sessions}}
                        <input type="radio" name="sessionId" value="{{this.id}}" {{#if this.checked}}checked{{/if}}> {{this.created_at}} <br/>
                      {{/each}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-offset-4 col-xs-8">
                      <button type="submit" class="btn btn-success">Generate file</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="seloger">
            <h2>Seloger area stats</h2>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Choose your output file contents:</h3>
              </div>
              <div class="panel-body">
                <form method="post" action="/seloger/report.csv" class="form-horizontal">
                  <div class="form-group">
                    <label for="sessionInputGroup" class="col-xs-4 control-label">Crawl session</label>
                    <div class="col-xs-8" id="sessionInputGroup">
                      {{#each seloger.sessions}}
                        <input type="radio" name="sessionId" value="{{this.id}}" {{#if this.checked}}checked{{/if}}> {{this.created_at}} <br/>
                      {{/each}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-offset-4 col-xs-8">
                      <button type="submit" class="btn btn-success">Generate file</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="baggagenl">
            <h2>Baggage.nl freight rates</h2>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Choose your output file contents:</h3>
              </div>
              <div class="panel-body">
                <form method="post" action="/baggagenl/report.csv" class="form-horizontal">
                  <div class="form-group">
                    <label for="sessionInputGroup" class="col-xs-4 control-label">Crawl session</label>
                    <div class="col-xs-8" id="sessionInputGroup">
                      {{#each baggagenl.sessions}}
                        <input type="radio" name="sessionId" value="{{this.id}}" {{#if this.checked}}checked{{/if}}> {{this.created_at}} <br/>
                      {{/each}}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="ratesTypeInputGroup" class="col-xs-4 control-label">Rates type</label>
                    <div class="col-xs-8" id="ratesTypeInputGroup">
                      <label class="checkbox-inline">
                        <input type="checkbox" name="air" value="true" checked/> Airfreight rates
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" name="sea" value="true"/> Seafreight rates
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" name="courier" value="true"/> Courier rates
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" name="road" value="true"/> Road transport rates
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-offset-4 col-xs-8">
                      <button type="submit" class="btn btn-success">Generate file</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="adac">
            <h2>ADAC car info</h2>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Choose your output file contents:</h3>
              </div>
              <div class="panel-body">
                <form method="post" action="/adac/report.csv" class="form-horizontal">
                  <div class="form-group">
                    <label for="ratesTypeInputGroup" class="col-xs-4 control-label">Categories included</label>
                    <div class="col-xs-8" id="ratesTypeInputGroup">
                      <label class="checkbox-inline">
                        <input type="checkbox" name="Modell" value="true" checked/> General information
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" name="Allgemein" value="true" checked/> Allgemein
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" name="MotorUndAntrieb" value="true"/> Motor und Antrieb
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" name="MasseUndGewichte" value="true"/> Maße und Gewichte
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" name="KarosserieUndFahrwerk" value="true"/> Karosserie und Fahrwerk
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" name="MesswerteHersteller" value="true"/> Messwerte Hersteller
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" name="Sicherheitsausstattung" value="true"/> Sicherheitsausstattung
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" name="Herstellergarantien" value="true"/> Herstellergarantien
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" name="PreiseUndAusstattung" value="true"/> Preise und Asstattung
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-offset-4 col-xs-8">
                      <button type="submit" class="btn btn-success">Generate file</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="hamsud">
            <h2>Hamburg Süd freight rates</h2>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Choose your output file contents:</h3>
              </div>
              <div class="panel-body">
                <form method="post" action="/hamsud/report.csv" class="form-horizontal">
                  <div class="form-group">
                    <label for="sessionInputGroup" class="col-xs-4 control-label">Crawl session</label>
                    <div class="col-xs-8" id="sessionInputGroup">
                      {{#each hamsud.sessions}}
                        <input type="radio" name="sessionId" value="{{this.id}}" {{#if this.checked}}checked{{/if}}> {{this.created_at}} <br/>
                      {{/each}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-offset-4 col-xs-8">
                      <button type="submit" class="btn btn-success">Generate file</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="pl">
            <h2>Primelocation.com area stats</h2>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Choose your output file contents:</h3>
              </div>
              <div class="panel-body">
                <form method="post" action="/pl/report.csv" class="form-horizontal">
                  <div class="form-group">
                    <label for="sessionInputGroup" class="col-xs-4 control-label">Crawl session</label>
                    <div class="col-xs-8" id="sessionInputGroup">
                      {{#each pl.sessions}}
                        <input type="radio" name="sessionId" value="{{this.id}}" {{#if this.checked}}checked{{/if}}> {{this.created_at}} <br/>
                      {{/each}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-offset-4 col-xs-8">
                      <button type="submit" class="btn btn-success">Generate file</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="bhub">
            <h2>Baggagehub.com freight rates</h2>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Choose your output file contents:</h3>
              </div>
              <div class="panel-body">
                <form method="post" action="/bhub/report.csv" class="form-horizontal">
                  <div class="form-group">
                    <label for="sessionInputGroup" class="col-xs-4 control-label">Crawl session</label>
                    <div class="col-xs-8" id="sessionInputGroup">
                      {{#each bhub.sessions}}
                        <input type="radio" name="sessionId" value="{{this.id}}" {{#if this.checked}}checked{{/if}}> {{this.created_at}} <br/>
                      {{/each}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-offset-4 col-xs-8">
                      <button type="submit" class="btn btn-success">Generate file</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="paruvendu">
            <h2>Paruvendu.fr property details</h2>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Choose your output file contents:</h3>
              </div>
              <div class="panel-body">
                <form method="post" action="/paruvendu/report.csv" class="form-horizontal">
                  <div class="form-group">
                    <label for="sessionInputGroup" class="col-xs-4 control-label">Crawl session</label>
                    <div class="col-xs-8" id="sessionInputGroup">
                      {{#each paruvendu.sessions}}
                        <input type="radio" name="sessionId" value="{{this.id}}" {{#if this.checked}}checked{{/if}}> {{this.created_at}} <br/>
                      {{/each}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-offset-4 col-xs-8">
                      <button type="submit" class="btn btn-success">Generate file</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script type="text/javascript">
      function submitForm() {
        if (document.pressed === 'areaStats') {
          document.zooplaForm.action = '/zoopla/report.csv';
        } else {
          document.zooplaForm.action = '/zoopla/sample-size-report.csv';
        }
        return true;
      }

      // Javascript to enable link to tab
      var url = document.location.toString();
      if (url.match('#')) {
          $('a[href=#'+url.split('#')[1]+']').tab('show') ;
      }

      // Change hash for page-reload
      $('a').on('shown.bs.tab', function (e) {
          window.location.hash = e.target.hash;
      })

      // for properly collapsing navbars
      $(document).ready(function () {
        $(".navbar-nav li a").click(function(event) {
          $(".navbar-collapse").collapse('hide');
        });
      });

    </script>
  </body>
</html>
