<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movinga web crawler | Sign in</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <img src="/img/movinga-primary-logo.png" class="img-responsive img-rounded" alt="Movinga"/>
        </div>
      </div>
      <form class="form-signin" action="/auth/login" method="post">
        {{#if message}}
        <div class="alert alert-danger">
          {{ message }}
        </div>
        {{/if}}
        <h4 class="form-signin-heading">You must sign in to access this page</h4>
        <input type="text" name="username" class="form-control" placeholder="Username" required />
        <input type="password" name="password" class="form-control" placeholder="Password" required />
        <p>
          Forgot you password? Contact <a href="mailto:joseph.carnarius@movinga.de">Joseph Carnarius</a>.
        </p>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
      </form>
    </div>
  </body>
</html>
