<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movinga web crawler | Control panel</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid">
      <div class="sidebar-nav">
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <img alt="Movinga" height="40px" src="img/movinga-small-logo.svg">
            </a>
          </div>

          <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
              <li>
                <a href="/#wfr">World Freight Rates</a>
              </li>
              <li>
                <a href="/#fedemac">FEDEMAC</a>
              </li>
              <li>
                <a href="/#iam">IAM</a>
              </li>
              <li>
                <a href="/#ngrs">NGRS</a>
              </li>
              <li>
                <a href="/#zoopla">Zoopla</a>
              </li>
              <li>
                <a href="/#immobiliare">Immobiliare</a>
              </li>
              <li>
                <a href="/#seloger">Seloger</a>
              </li>
              <li>
                <a href="/#baggagenl">Baggage.nl</a>
              </li>
              <li>
                <a href="/#adac">ADAC</a>
              </li>
              <li>
                <a href="/#hamsud">Hamburg Süd</a>
              </li>
              <li>
                <a href="/#pl">Primelocation</a>
              </li>
              <li>
                <a href="/#bhub">Baggagehub</a>
              </li>
              <li>
                <a href="/#paruvendu">Paruvendu</a>
              </li>
              <li>
                <hr/>
              </li>
              <li class="active">
                <a href="/status">
                  <span class="glyphicon glyphicon-cog"></span>
                  Control panel
                </a>
              </li>
              <li>
                <a href='/auth/logout'>
                  <span class="glyphicon glyphicon-user"></span>
                  {{user.username}} | Log Out
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="content">
        {{#if message}}
          <div class="alert alert-info alert-dismissible" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {{/if}}
        <h2>Utilities</h2>
        <!-- START UTILITIES SECTION -->
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <form method="post" action="/utility/inventoryItems.csv">
                  <button type="submit" class="btn btn-info btn-block">Download inventory items</button>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <form method="post" action="/utility/districtPostcodes.csv">
                  <button type="submit" class="btn btn-info btn-block">Download UK district (NW1) postcodes</button>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <form method="post" action="/utility/fullPostcodes.csv">
                  <button type="submit" class="btn btn-info btn-block">Download UK full (NW1 0AA) postcodes</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- END UTILITIES SECTION -->
        <h2>Crawler control panel</h2>
        {{#each crawlers}}
        <div class="panel panel-default" id="{{this.shortName}}">
          <div class="panel-heading">
            <h3 class="panel-title">{{this.longName}}</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <p>Next scheduled crawling time: {{this.crawlingDate}}</p>
              </div>
            </div>
            <div class="row hide" id="{{this.shortName}}-active">
              <div class="col-sm-3">
                Crawling in progress.
              </div>
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-xs-10">
                    <div class="progress">
                      <div id="{{this.shortName}}-bar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 40%;">
                        40%
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="row">
                      {{#if ../user.admin}}
                      <div class="col-xs-6 hide" id="{{this.shortName}}-resume">
                        <form method="post" action="/{{this.shortName}}/resume">
                          <button type="submit" class="btn btn-xs btn-success">
                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                          </button>
                        </form>
                      </div>
                      <div class="col-xs-6 hide" id="{{this.shortName}}-pause">
                        <form method="post" action="/{{this.shortName}}/pause" >
                          <button type="submit" class="btn btn-xs btn-warning">
                            <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                          </button>
                        </form>
                      </div>
                      <div class="col-xs-6">
                        <form method="post" action="/{{this.shortName}}/stop">
                          <button type="submit" class="btn btn-xs btn-danger">
                            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                          </button>
                        </form>
                      </div>
                      {{/if}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row hide" id="{{this.shortName}}-inactive">
              <div class="col-sm-8">
                No active crawler at the moment.
              </div>
              <div class="col-sm-4">
                {{#if ../user.admin}}
                <form method="post" action="/{{this.shortName}}/start">
                  <button type="submit" class="btn btn-sm btn-default btn-block">Invoke crawler</button>
                </form>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        requestStatus();
      });

      var requestStatus = function() {
        $.ajax({
          type: "POST",
          url: "/status",
          dataType: 'json'
        }).success(function(data) {
          data.forEach(function(crawler) {
            //Show/hide panels
            switch(crawler.status) {
              case 'on':
                console.log('#'+crawler.shortName+'-resume');
                $('#'+crawler.shortName+'-pause').removeClass('hide').addClass('show');
                $('#'+crawler.shortName+'-resume').removeClass('show').addClass('hide');
                $('#'+crawler.shortName+'-active').removeClass('hide').addClass('show');
                $('#'+crawler.shortName+'-inactive').removeClass('show').addClass('hide');
                break;
              case 'paused':
                console.log('#'+crawler.shortName+'-pause');
                $('#'+crawler.shortName+'-pause').removeClass('show').addClass('hide');
                $('#'+crawler.shortName+'-resume').removeClass('hide').addClass('show');
                $('#'+crawler.shortName+'-active').removeClass('hide').addClass('show');
                $('#'+crawler.shortName+'-inactive').removeClass('show').addClass('hide');
                break;
              case 'off':
                console.log('#'+crawler.shortName+'-inactive');
                $('#'+crawler.shortName+'-active').removeClass('show').addClass('hide');
                $('#'+crawler.shortName+'-inactive').removeClass('hide').addClass('show');
                break;
            };
            //Update progress bar
            $('#'+crawler.shortName+'-bar').css('width', crawler.progress + '%');
            $('#'+crawler.shortName+'-bar').text(crawler.progress + '%');
          });
          setTimeout(function () {
            requestStatus();
          }, 1000);
        });
      };
    </script>
  </body>
</html>
