html, body {
  height: 100%;
}

.content {
  padding-top: 60px;
  padding-bottom: 40px;
  margin-left: 15px;
  margin-right: 15px;
}

.container-fluid {
  padding: 0;
  min-height: 100%;
  background-color: #eee;
}

.navbar-brand {
    margin-right: 20px;
    padding: 0;
}

.navbar-brand img {
    margin-top: 5px;
    margin-left: 5px;
}

.alert {
  position: fixed;
  top: 80px;
  left: 60%;
  right: 10%;
  z-index: 100;
}

.panel-body form {
  margin-top: 10px;
  margin-bottom: 10px;
}


/* make sidebar nav vertical */
@media (min-width: 768px) {

  .sidebar-nav .navbar .navbar-collapse {
  padding: 0;
  }

  .sidebar-nav .navbar ul {
  float: none;
  }

  .sidebar-nav .navbar ul:not {
  display: block;
  }

  .sidebar-nav .navbar li {
  float: none;
  display: block;
  }
  .sidebar-nav .navbar li a {
  padding-top: 12px;
  padding-bottom: 12px;
  }
}
@media (min-width: 768px) {
  /* uncomment if you would like the menu to be fixed */
  .navbar {
    position: fixed;
    margin-left: 0px;
    height: 100%;
    width: 170px;
    z-index: 2;
  }
  .content {
    padding-left: 170px;
  }
}
@media (min-width: 992px) {
  .navbar {
    width: 210px;
  }
  .content {
    padding-left: 210px;
  }
}
@media (min-width: 1200px) {
  .navbar {
    width: 260px;
  }
  .content {
    padding-left: 260px;
  }
}
.sidebar-nav .navbar-header{ float: none; }
